.example-card {
    width: 98%;
  }
  
  

  .characterimg{
    width: 25%;
    height: 20%;
  }

.rightslide{
  float: right;
  
  width:50%;
}
p{
  font-size: large;
  font-family: system-ui;
}

.CharacterDetails:after {
  content: "";
  display: table;
  clear: both;
  min-width: 600px;
}
.CharDet {
  float: left;
  width: 50%;

}
  
  